# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #

*.war
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
SpringReport-ui-vue3/src/views/multiscreen/MultiScreen.js
SpringReport-ui-vue3/src/views/multiscreen/MultiScreen.vue
SpringReport-ui-vue3/src/views/multiscreen/multiscreenview.js
SpringReport-ui-vue3/src/views/multiscreen/multiscreenview.vue
.gitignore
.gitignore
/SpringReport-ui-vue2/src/components/pages/doconlyoffice/DocOnlyOffice.js
/SpringReport-ui-vue2/src/components/pages/doconlyoffice/DocOnlyOffice.vue
/SpringReport-ui-vue2/src/components/pages/onlyoffice/docDesign.js
/SpringReport-ui-vue2/src/components/pages/onlyoffice/docDesign.vue
/SpringReport-ui-vue2/src/components/pages/onlyoffice/docPreview.js
/SpringReport-ui-vue2/src/components/pages/onlyoffice/docPreview.vue
/SpringReport-ui-vue2/src/components/pages/onlyoffice/vabOnlyOffice.vue
/SpringReport-ui-vue2/src/components/pages/reportsnapshot/*.js
/SpringReport-ui-vue2/src/components/pages/reportsnapshot/*.vue
/SpringReport-ui-vue2/src/components/component/aisql/aisql.vue
/SpringReport-ui-vue3/src/components/aisql/aisql.vue
