@import "@/element-variables.scss";
/* 更改左侧侧边栏 */
.el-submenu.is-active.is-opened .el-submenu__title {
  color: $--color-primary !important;
}
.el-submenu.is-active.is-opened .el-submenu__title i {
  color: $--color-primary !important;
}
.el-menu-item.is-active {
  background: #f0fcf9 !important;
  border-radius: 3px !important;
}
/* 更改公共组件table样式 */
.ces-table-page {
  padding: 24px 24px 8px;
  background: #ffffff;
  border-radius: 8px;
}
.ces-table-page thead tr th {
  background: linear-gradient(0deg, #e8f8f2, #e8f8f2), #ffffff !important;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 400;
  font-size: 14px;
  padding: 12px 0;
}
.ces-table-page tbody tr td {
  color: rgba(0, 0, 0, 0.9);
}
/* 更改树节点的状态 */
.el-tree-node__content:hover {
  background: #f0fcf9 !important;
  border-radius: 3px !important;
  color: $--color-primary !important;
}
.el-tree-node.is-current > .el-tree-node__content {
  background: #f0fcf9 !important;
  border-radius: 3px !important;
  color: $--color-primary !important;
}
.el-tree-node__expand-icon {
  color: rgba(0, 0, 0, 0.6) !important;
}
.el-tree-node__expand-icon.is-leaf {
  color: transparent !important;
}
.el-tree-node__content {
  margin-bottom: 6px;
}
._tablepage .el-form-item {
  margin-bottom: 20px;
}
.modal-footer {
  text-align: left !important;
  margin-top: -50px !important;
  margin-left: 50px !important;
  max-height: 450px;
  height: auto !important;
  overflow-y: auto;
}

._login {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

._login .login_inner {
  width: 460px;
  height: 300px;
  margin-top: -150px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 25px #cac6c6;
}
._login .login_inner .form {
  width: 300px;
  margin-top: 30px;
  text-align: center;
}

._login .login_inner .form .title {
  color: #505458;
}

._login .login_inner .error {
  color: red;
}

.df {
  display: flex;
}
.df-c {
  display: flex;
  align-items: center;
}
.df-c-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.overflow-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.df-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.el-submenu .el-menu-item {
  height: 36px !important;
  line-height: 36px !important;
  padding: 0 45px;
  min-width: 200px;
  font-size: 12px;
}
.el-submenu__title {
  height: 36px !important;
  line-height: 36px !important;
  font-size: 12px !important;
  color: #262626 !important;
}
.el-submenu__title i {
  color: #262626 !important;
}
.el-submenu [class^="el-icon-"] {
  font-size: 14px !important;
}
.search-content .el-form--inline .el-form-item {
  margin-bottom: 0 !important;
}
