::v-deep .el-tooltip__popper.is-dark {
  background: #2681ff !important;
  color: #ffffff !important;
}

// ::v-deep .el-input__inner,
// ::v-deep .el-textarea__inner {
//   background-color: var(--colorWhite);
//   color: var(--colorTextPrimary);
//   border: 1px solid var(--borderColorBase);
// }

::v-deep .el-form-item__label {
  color: var(--colorTextPrimary);
}

::v-deep .el-input-group__append,
::v-deep .el-input-group__prepend {
  background-color: var(--backgroundColorBase);
  border: 1px solid var(--borderColorBase);
}

::v-deep .el-input-group__append {
  border-left: 0;
}

::v-deep .el-input-group__prepend {
  border-right: 0;
}

::v-deep .el-input-number__decrease,
::v-deep .el-input-number__increase {
  background-color: var(--backgroundColorBase);
  color: var(--colorTextPrimary);
}

::v-deep .el-input-number.is-controls-right .el-input-number__increase {
  border-bottom: 1px solid var(--borderColorBase);
}

::v-deep .el-input-number__increase {
  border-left: 1px solid var(--borderColorBase);
}

::v-deep .el-input-number.is-controls-right .el-input-number__decrease {
  border-left: 1px solid var(--borderColorBase);
}

::v-deep .el-table th.el-table__cell,
::v-deep .el-table th,
::v-deep .el-table tr {
  background-color: var(--colorWhite);
}
::v-deep .el-table__empty-block{
  background-color: var(--colorBlack);
}

::v-deep .el-table td,
::v-deep .el-table th.is-leaf {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

::v-deep .el-table--border td,
::v-deep .el-table--border th,
::v-deep
  .el-table__body-wrapper
  .el-table--border.is-scrolling-left
  ~ .el-table__fixed {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

::v-deep .el-table--border,
::v-deep .el-table--group {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

::v-deep .el-table--border {
  border-right: none;
  border-bottom: none;
}

::v-deep .el-table thead {
  background-color: var(--colorWhite);
  color: var(--colorTextPrimary);
}

::v-deep
  .el-table--enable-row-hover
  .el-table__body
  tr:hover
  > td.el-table__cell {
  background-color: var(--colorBlack);
}

::v-deep .el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: var(--colorBlack);
}

::v-deep .el-tree {
  background-color: var(--colorWhite);
}

::v-deep .el-alert {
  background-color: var(--colorWhite);
}

::v-deep .el-message-box {
  background-color: var(--colorWhite);
}

::v-deep .el-notification {
  background-color: var(--colorWhite);
}

::v-deep .el-dialog {
  background: var(--colorWhite);
}
::v-deep .el-dialog__title {
  color: rgb(255, 255, 255);
}

::v-deep .el-card {
  background-color: var(--colorWhite);
}

::v-deep .cell {
  // color: rgb(255, 255, 255);
}

::v-deep .el-collapse-item__header {
  color: rgb(255, 255, 255);
  background-color: #1a1a1a;
  border-bottom: 1px solid var(--borderColorLighter);
  height: 42px;
  line-height: 42px;
  border-top: 1px solid var(--borderColorLighter);
}
::v-deep .el-collapse-item__wrap {
  background-color: var(--colorWhite);
  border-bottom: 0;
}
::v-deep .el-collapse {
  border-top: 0;
  border-bottom: 1px solid var(--borderColorLighter);
}
::v-deep .el-collapse-item__content {
  background-color: #1a1a1a;
  padding: 12px;
}

::v-deep .el-select-dropdown {
  border: 1px solid var(--borderColorBase) !important;
  background-color: var(--colorWhite) !important;
}

::v-deep .el-popper[x-placement^="bottom"] .popper__arrow::after {
  border-bottom-color: var(--colorWhite);
}

::v-deep .el-select-dropdown__item.hover,
::v-deep .el-select-dropdown__item:hover {
  background-color: var(--colorBlack);
}

::v-deep .el-select-dropdown__item.hover,
::v-deep .el-select-dropdown__item:hover {
  background-color: var(--colorBlack);
}

::v-deep .el-popper[x-placement^="top"] .popper__arrow {
  border-top-color: var(--borderColorBase);
}

::v-deep .el-popper[x-placement^=top] .popper__arrow:after {
  border-top-color: var(--borderColorBase);
}

::v-deep .el-dialog__body{
  background-color: var(--colorBlack);
}

::v-deep .el-tabs{
  background-color: var(--colorBlack);
}

::v-deep .el-tabs__header{
  background-color: var(--colorBlack);
}
::v-deep .el-tab-pane{
  background-color: var(--colorBlack) !important;
}

::v-deep .btn-prev{
  background-color: var(--colorBlack) !important;
  color:white
}

::v-deep .btn-next{
  background-color: var(--colorBlack) !important;
  color:white
}

::v-deep .el-pager li{
  background-color: var(--colorBlack) !important;
  color:white
}
::v-deep .el-pager .active{
  background-color: var(--colorBlack) !important;
  color:#409eff
}