:deep(::-webkit-scrollbar) {
  height: 16px;
  width: 16px;
  overflow: visible
}
:deep(::-webkit-scrollbar-button) {
  width: 0;
  height: 0
}

:deep(::-webkit-scrollbar-corner) {
  background: transparent
}

:deep(::-webkit-scrollbar-thumb) {
  background-color: #ddd;
  background-clip: padding-box;
  border: 4px solid #f2f4f7;
  border-radius: 8px;
  min-height: 24px
}

:deep(::-webkit-scrollbar-thumb:hover) {
  background-color: #c9c9c9
}

:deep(::-webkit-scrollbar-track) {
  background: #f2f4f7;
  background-clip: padding-box
}

/* * {
  margin: 0;
  padding: 0;
} */

:deep(body) {
  background-color: #F2F4F7;
}

:deep(ul) {
  list-style: none;
}

:deep(.menu) {
  width: fit-content;
  max-width: 100%;
  height: 60px;
  margin: 0 auto;
  top: 0;
  z-index: 9;
  overflow-x: auto;
  /* position: fixed; */
  display: flex;
  align-items: center;
  background: #F2F4F7;
  box-shadow: 0 2px 4px 0 transparent;
}

:deep(.menu-divider) {
  width: 1px;
  height: 16px;
  margin: 0 8px;
  display: inline-block;
  background-color: #cfd2d8;
}

:deep(.menu-item) {
  height: 24px;
  display: flex;
  align-items: center;
  position: relative;
}

:deep(.menu-item>div) {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px;
}

:deep(.menu-item>div:hover) {
  background: rgba(25, 55, 88, .04);
}

:deep(.menu-item>div.active) {
  background: rgba(25, 55, 88, .08);
}

:deep(.menu-item i) {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

:deep(.menu-item>div>span) {
  width: 16px;
  height: 3px;
  display: inline-block;
  border: 1px solid #e2e6ed;
}

:deep(.menu-item .select) {
  border: none;
  font-size: 12px;
  line-height: 24px;
  user-select: none;
}

:deep(.menu-item .select::after) {
  position: absolute;
  content: "";
  top: 11px;
  width: 0;
  height: 0;
  right: 2px;
  border-color: #767c85 transparent transparent;
  border-style: solid solid none;
  border-width: 3px 3px 0;
}

:deep(.menu-item .options) {
  width: 70px;
  position: fixed;
  top: 113px;
  padding: 10px;
  background: #fff;
  font-size: 14px;
  box-shadow: 0 2px 12px 0 rgb(56 56 56 / 20%);
  border: 1px solid #e2e6ed;
  border-radius: 2px;
  display: none;
}

:deep(.menu-item .options.visible) {
  display: block;
  z-index: 99;
}

:deep(.menu-item .options li) {
  padding: 5px;
  margin: 5px 0;
  user-select: none;
  transition: all .3s;
}

:deep(.menu-item .options li:hover) {
  background-color: #ebecef;
}

:deep(.menu-item .options li.active) {
  background-color: #e2e6ed;
}

:deep(.menu-item .menu-item__font) {
  width: 65px;
  position: relative;
}

:deep(.menu-item .menu-item__size) {
  width: 50px;
  text-align: center;
  position: relative;
}

:deep( .menu-item__font .select),
:deep(.menu-item__size .select) {
  width: 100%;
  height: 100%;
}

:deep(.menu-item__undo.no-allow),
:deep(.menu-item__redo.no-allow),
:deep(.menu-item>div.disable) {
  color: #c0c4cc;
  cursor: not-allowed;
  opacity: 0.4;
  pointer-events: none;
}

:deep(.menu-item__save i) {
  background-image: url('./assets/images/save.svg');
}

:deep(.menu-item__upload i) {
  background-image: url('./assets/images/upload.svg');
}


:deep(.menu-item__download i) {
  background-image: url('./assets/images/download.svg');
}

:deep(.menu-item__preview i) {
  background-image: url('./assets/images/preview.svg');
}

:deep(.menu-item__undo i) {
  background-image: url('./assets/images/undo.svg');
}

:deep(.menu-item__redo i) {
  background-image: url('./assets/images/redo.svg');
}

:deep(.menu-item__painter i) {
  background-image: url('./assets/images/painter.svg');
}

:deep(.menu-item__format i) {
  background-image: url('./assets/images/format.svg');
}

:deep(.menu-item__size-add i) {
  background-image: url('./assets/images/size-add.svg');
}

:deep(.menu-item__size-minus i) {
  background-image: url('./assets/images/size-minus.svg');
}

:deep(.menu-item__bold i) {
  background-image: url('./assets/images/bold.svg');
}

:deep(.menu-item__italic i) {
  background-image: url('./assets/images/italic.svg');
}

:deep(.menu-item .menu-item__underline) {
  width: 30px;
  position: relative;
}

:deep(.menu-item__underline>i) {
  flex-shrink: 0;
  background-image: url('./assets/images/underline.svg');
}

:deep(.menu-item__underline .select) {
  width: 100%;
  height: 100%;
}

:deep(.menu-item .menu-item__underline .options) {
  width: 128px;
}

:deep(.menu-item .menu-item__underline li) {
  padding: 1px 5px;
}

:deep(.menu-item__underline li i) {
  pointer-events: none;
}

:deep(.menu-item__underline li[data-decoration-style="solid"]) {
  background-image: url('./assets/images/line-single.svg');
}

:deep(.menu-item__underline li[data-decoration-style="double"]) {
  background-image: url('./assets/images/line-double.svg')
}

:deep(.menu-item__underline li[data-decoration-style="dashed"]) {
  background-image: url('./assets/images/line-dash-small-gap.svg');
}

:deep(.menu-item__underline li[data-decoration-style="dotted"]) {
  background-image: url('./assets/images/line-dot.svg');
}

:deep(.menu-item__underline li[data-decoration-style="wavy"]) {
  background-image: url('./assets/images/line-wavy.svg');
}

:deep(.menu-item__strikeout i) {
  background-image: url('./assets/images/strikeout.svg');
}

:deep(.menu-item__superscript i) {
  background-image: url('./assets/images/superscript.svg');
}

:deep(.menu-item__subscript i) {
  background-image: url('./assets/images/subscript.svg');
}

:deep(.menu-item__color),
.menu-item__highlight,
.menu-item__cellcolor {
  display: flex;
  flex-direction: column;
}

:deep(.menu-item__color #color),
:deep(.menu-item__highlight #highlight),
:deep(.menu-item__cellcolor #cellcolor) {
  width: 1px;
  height: 1px;
  visibility: hidden;
  outline: none;
  appearance: none;
}



:deep(.menu-item__color i) {
  background-image: url('./assets/images/color.svg');
}

:deep(.menu-item__color span) {
  background-color: #000000;
}

:deep(.menu-item__highlight i) {
  background-image: url('./assets/images/highlight.svg');
}

:deep(.menu-item__highlight span) {
  background-color: #ffff00;
}

:deep(.menu-item__cellcolor i) {
  background-image: url('./assets/images/cellcolor.svg');
}

:deep(.menu-item .menu-item__title) {
  width: 60px;
  position: relative;
}

:deep(.menu-item__title .select) {
  width: calc(100% - 20px);
  height: 100%;
}

:deep(.menu-item__title i) {
  transform: translateX(-5px);
  background-image: url('./assets/images/title.svg');
}

:deep(.menu-item__title .options) {
  width: 80px;
}

:deep(.menu-item__left i) {
  background-image: url('./assets/images/left.svg');
}

:deep(.menu-item__center i) {
  background-image: url('./assets/images/center.svg');
}

:deep(.menu-item__right i) {
  background-image: url('./assets/images/right.svg');
}

:deep(.menu-item__alignment i) {
  background-image: url('./assets/images/alignment.svg');
}

:deep(.menu-item__row-margin) {
  position: relative;
}

:deep(.menu-item__row-margin i) {
  background-image: url('./assets/images/row-margin.svg');
}

:deep(.menu-item__list) {
  position: relative;
}

:deep(.menu-item__list i) {
  background-image: url('./assets/images/list.svg');
}

:deep(.menu-item__list .options) {
  width: 110px;
}

:deep(.menu-item__list .options>ul>li *) {
  pointer-events: none;
}

:deep(.menu-item__list .options>ul>li li) {
  margin-left: 18px;
}

:deep(.menu-item__list .options>ul>li[data-list-style='checkbox'] li::marker) {
  font-size: 11px;
}

:deep(.menu-item__image i) {
  background-image: url('./assets/images/image.svg');
}

:deep(.menu-item__barcode i) {
  background-image: url('./assets/images/barcode.svg');
}

:deep(.menu-item__qrcode i) {
  background-image: url('./assets/images/qrcode.svg');
}

:deep(.menu-item__image input) {
  display: none;
}

:deep(.menu-item__table) {
  position: relative;
}

:deep(.menu-item__table i) {
  background-image: url('./assets/images/table.svg');
}

:deep(.menu-item__chart) {
  position: relative;
}

:deep(.menu-item__chart i) {
  background-image: url('./assets/images/chart.svg');
}

:deep(.menu-item .menu-item__table__collapse) {
  width: 270px;
  height: 310px;
  background: #fff;
  box-shadow: 0 2px 12px 0 rgb(56 56 56 / 20%);
  border: 1px solid #e2e6ed;
  box-sizing: border-box;
  border-radius: 2px;
  position: fixed;
  display: none;
  z-index: 99;
  top: 113px;
  /* left: 0; */
  padding: 14px 27px;
  cursor: auto;
}

:deep(.menu-item .menu-item__table__collapse .table-close) {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}

:deep(.menu-item .menu-item__table__collapse .table-close:hover) {
  color: #7d7e80;
}

:deep(.menu-item .menu-item__table__collapse:hover) {
  background: #fff;
}

:deep(.menu-item .menu-item__table__collapse .table-title) {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 5px;
  border-bottom: 1px solid #e2e6ed;
}

:deep(.table-title span) {
  font-size: 12px;
  color: #3d4757;
  display: inline;
  margin: 0;
}

:deep(.table-panel) {
  cursor: pointer;
}

:deep(.table-panel .table-row) {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 10px;
  pointer-events: none;
}

:deep(.table-panel .table-cel) {
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border: 1px solid #e2e6ed;
  background: #fff;
  position: relative;
  margin-right: 6px;
  pointer-events: none;
}

:deep(.table-panel .table-cel.active) {
  border: 1px solid rgba(73, 145, 242, .2);
  background: rgba(73, 145, 242, .15);
}

:deep(.table-panel .table-row .table-cel:last-child) {
  margin-right: 0;
}

:deep(.menu-item__hyperlink i) {
  background-image: url('./assets/images/hyperlink.svg');
}

:deep(.menu-item__separator) {
  position: relative;
}

:deep(.menu-item__separator>i) {
  background-image: url('./assets/images/separator.svg');
}

:deep(.menu-item .menu-item__separator .options) {
  width: 128px;
}

:deep(.menu-item .menu-item__separator li) {
  padding: 1px 5px;
}

:deep(.menu-item__separator li i) {
  pointer-events: none;
}

:deep(.menu-item__separator li[data-separator="0,0"]) {
  background-image: url('./assets/images/line-single.svg');
}

:deep(.menu-item__separator li[data-separator="1,1"]) {
  background-image: url('./assets/images/line-dot.svg');
}

:deep(.menu-item__separator li[data-separator="3,1"]) {
  background-image: url('./assets/images/line-dash-small-gap.svg');
}

:deep(.menu-item__separator li[data-separator="4,4"]) {
  background-image: url('./assets/images/line-dash-large-gap.svg');
}

:deep(.menu-item__separator li[data-separator="7,3,3,3"]) {
  background-image: url('./assets/images/line-dash-dot.svg');
}

:deep(.menu-item__separator li[data-separator="6,2,2,2,2,2"]) {
  background-image: url('./assets/images/line-dash-dot-dot.svg');
}

:deep(.menu-item__watermark>i) {
  background-image: url('./assets/images/watermark.svg');
}

:deep(.menu-item__watermark) {
  position: relative;
}

:deep(.menu-item__codeblock i) {
  background-image: url('./assets/images/codeblock.svg');
}

:deep(.menu-item__page-break i) {
  background-image: url('./assets/images/page-break.svg');
}

:deep(.menu-item__control) {
  position: relative;
}

:deep(.menu-item__control i) {
  background-image: url('./assets/images/control.svg');
}

:deep(.menu-item__checkbox i) {
  background-image: url('./assets/images/checkbox.svg');
}

:deep(.menu-item__latex i) {
  background-image: url('./assets/images/latex.svg');
}

:deep(.menu-item__date) {
  position: relative;
}

:deep(.menu-item__date i) {
  background-image: url('./assets/images/date.svg');
}

:deep(.menu-item__date .options) {
  width: 160px;
}

:deep(.menu-item__block i) {
  background-image: url('./assets/images/block.svg');
}

:deep(.menu-item .menu-item__control .options) {
  width: 55px;
}

:deep(.menu-item__search) {
  position: relative;
}

:deep(.menu-item__search i) {
  background-image: url('./assets/images/search.svg');
}

:deep(.menu-item .menu-item__search__collapse) {
  width: 260px;
  height: 72px;
  box-sizing: border-box;
  position: fixed;
  display: none;
  z-index: 99;
  top: 113px;
  left: 0;
  background: #ffffff;
  box-shadow: 0px 5px 5px #e3dfdf;
}

:deep(.menu-item .menu-item__search__collapse:hover) {
  background: #ffffff;
}

:deep(.menu-item .menu-item__search__collapse>div) {
  width: 250px;
  height: 36px;
  padding: 0 5px;
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
}

:deep(.menu-item .menu-item__search__collapse>div input) {
  width: 205px;
  height: 27px;
  appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  line-height: 27px;
  outline: none;
  padding: 0 5px;
}

:deep(.menu-item .menu-item__search__collapse>div span) {
  height: 100%;
  color: #dcdfe6;
  font-size: 25px;
  display: inline-block;
  border: 0;
  padding: 0 10px;
}

:deep(.menu-item .menu-item__search__collapse__replace button) {
  display: inline-block;
  border: 1px solid #e2e6ed;
  border-radius: 2px;
  background: #fff;
  line-height: 22px;
  padding: 0 6px;
  white-space: nowrap;
  margin-left: 4px;
  cursor: pointer;
  font-size: 12px;
}

:deep(.menu-item .menu-item__search__collapse__replace button:hover) {
  background: rgba(25, 55, 88, .04);
}

:deep(.menu-item .menu-item__search__collapse__search) {
  position: relative;
}

:deep(.menu-item .menu-item__search__collapse__search label) {
  right: 110px;
  font-size: 12px;
  color: #3d4757;
  position: absolute;
}

:deep(.menu-item .menu-item__search__collapse__search>input) {
  padding: 5px 90px 5px 5px !important;
}

:deep(.menu-item .menu-item__search__collapse__search>div) {
  width: 28px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-left: 1px solid #e2e6ed;
  transition: all .5s;
}

:deep(.menu-item .menu-item__search__collapse__search>div:hover) {
  background-color: rgba(25, 55, 88, .04);
}

:deep(.menu-item .menu-item__search__collapse__search i) {
  width: 6px;
  height: 8px;
  transform: translateY(1px);
}

:deep(.menu-item .menu-item__search__collapse__search .arrow-left) {
  right: 76px;
}

:deep(.menu-item .menu-item__search__collapse__search .arrow-left i) {
  background: url(./assets/images/arrow-left.svg) no-repeat;
}

:deep(.menu-item .menu-item__search__collapse__search .arrow-right) {
  right: 48px;
}

:deep(.menu-item .menu-item__search__collapse__search .arrow-right i) {
  background: url(./assets/images/arrow-right.svg) no-repeat;
}

:deep(.menu-item__print i) {
  background-image: url('./assets/images/print.svg');
}

:deep(.catalog) {
  width: 250px;
  position: absolute;
  /* left: 0; */
  bottom: 0;
  top: 70px;
  padding: 0 20px 40px 20px;
}

:deep(.catalog .catalog__header) {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e2e6ed;
}

:deep(.catalog .catalog__header span) {
  color: #3d4757;
  font-size: 14px;
  font-weight: bold;
}

:deep(.catalog .catalog__header i) {
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: inline-block;
  background: url(./assets/images/close.svg) no-repeat;
  transition: all .2s;
}

:deep(.catalog .catalog__header>div:hover) {
  background: rgba(235, 238, 241);
}

:deep(.catalog__main) {
  height: calc(100% - 60px);
  padding: 10px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

:deep(.catalog__main .catalog-item) {
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
}

:deep(.catalog__main>.catalog-item) {
  padding-left: 0;
}

:deep(.catalog__main .catalog-item .catalog-item__content) {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:deep(.catalog__main .catalog-item .catalog-item__content:hover>span) {
  color: #4991f2;
}

:deep(.catalog__main .catalog-item .catalog-item__content span) {
  color: #3d4757;
  line-height: 30px;
  font-size: 12px;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}

:deep(.editor>div) {
  margin: 80px auto;
}
.editor-container{
  height: calc(100vh - 164px);
  overflow-y: auto;
}
:deep(.editor){
  position: unset !important;
}

:deep(.ce-page-container canvas) {
  box-shadow: rgb(158 161 165 / 40%) 0px 2px 12px 0px;
}

:deep(.comment) {
  width: 250px;
  height: 650px;
  position: fixed;
  transform: translateX(420px);
  top: 200px;
  left: 60%;
  overflow-y: auto;
}

:deep(.comment-item) {
  background: #ffffff;
  border: 1px solid #e2e6ed;
  position: relative;
  border-radius: 8px;
  padding: 15px;
  font-size: 14px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all .5s;
}

:deep(.comment-item:hover) {
  border-color: #c0c6cf;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

:deep(.comment-item.active) {
  border-color: #E99D00;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

:deep(.comment-item__title) {
  height: 22px;
  position: relative;
  display: flex;
  align-items: center;
  color: #c1c6ce;
}

:deep(.comment-item__title span:first-child) {
  background-color: #dbdbdb;
  width: 4px;
  height: 16px;
  margin-right: 5px;
  display: inline-block;
  border-radius: 999px;
}

:deep(.comment-item__title span:nth-child(2)) {
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:deep(.comment-item__title i) {
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  right: -8px;
  top: -8px;
  background: url(./assets/images/close.svg) no-repeat;
}

:deep(.comment-item__title i:hover) {
  opacity: 0.6;
}

:deep(.comment-item__info) {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:deep(.comment-item__info>span:first-child) {
  font-weight: 600;
}

:deep(.comment-item__info>span:last-child) {
  color: #c1c6ce;
}

:deep(.comment-item__content) {
  line-height: 22px;
}

:deep(.footer) {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f2f4f7;
  z-index: 9;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 12px;
  padding: 0 4px 0 20px;
  box-sizing: border-box;
}

:deep(.footer>div:first-child) {
  display: flex;
  align-items: center;
}

:deep(.footer .catalog-mode) {
  padding: 1px;
  position: relative;
}

:deep(.footer .catalog-mode i) {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  cursor: pointer;
  display: inline-block;
  background-image: url('./assets/images/catalog.svg');
}

:deep(.footer .page-mode) {
  padding: 1px;
  position: relative;
}

:deep(.footer .page-mode i) {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  cursor: pointer;
  display: inline-block;
  background-image: url('./assets/images/page-mode.svg');
}

:deep(.footer .options) {
  width: 70px;
  position: absolute;
  left: 0;
  bottom: 25px;
  padding: 10px;
  background: #fff;
  font-size: 14px;
  box-shadow: 0 2px 12px 0 rgb(56 56 56 / 20%);
  border: 1px solid #e2e6ed;
  border-radius: 2px;
  display: none;
}

:deep(.footer .options.visible) {
  display: block;
}

:deep(.footer .options li) {
  padding: 5px;
  margin: 5px 0;
  user-select: none;
  transition: all .3s;
  text-align: center;
  cursor: pointer;
}

:deep(.footer .options li:hover) {
  background-color: #ebecef;
}

:deep(.footer .options li.active) {
  background-color: #e2e6ed;
}

:deep(.footer>div:first-child>span) {
  display: inline-block;
  margin-right: 5px;
  letter-spacing: 1px;
}

:deep(.footer>div:last-child) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:deep(.footer>div:last-child>div) {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:deep(.footer>div:last-child>div:hover) {
  background: rgba(25, 55, 88, .04);
}

:deep(.footer>div:last-child i) {
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
}

:deep(.footer .editor-option i) {
  background-image: url('./assets/images/option.svg');
}

:deep(.footer .page-scale-minus i) {
  background-image: url('./assets/images/page-scale-minus.svg');
}

:deep(.footer .page-scale-add i) {
  background-image: url('./assets/images/page-scale-add.svg');
}

:deep(.footer .page-scale-percentage) {
  cursor: pointer;
  user-select: none;
}

:deep(.footer .fullscreen i) {
  background-image: url('./assets/images/request-fullscreen.svg');
}

:deep(.footer .fullscreen.exist i) {
  background-image: url('./assets/images/exit-fullscreen.svg');
}

:deep(.footer .paper-margin i) {
  background-image: url('./assets/images/paper-margin.svg');
}

:deep(.footer .editor-mode) {
  cursor: pointer;
  user-select: none;
}

:deep(.footer .paper-size) {
  position: relative;
}

:deep(.footer .paper-size i) {
  background-image: url('./assets/images/paper-size.svg');
}

:deep(.footer .paper-size .options) {
  right: 0;
  left: unset;
}

:deep(.footer .paper-direction) {
  position: relative;
}

:deep(.footer .paper-direction i) {
  background-image: url('./assets/images/paper-direction.svg');
}

:deep(.footer .paper-direction .options) {
  right: 0;
  left: unset;
}

:deep(.ce-contextmenu-signature) {
  background-image: url('./assets/images/signature.svg');
}

:deep(.ce-contextmenu-word-tool) {
  background-image: url('./assets/images/word-tool.svg');
}