@font-face {
  font-family: "iconfont"; /* Project id 3688321 */
  src: url('iconfont.woff2?t=1730972126930') format('woff2'),
       url('iconfont.woff?t=1730972126930') format('woff'),
       url('iconfont.ttf?t=1730972126930') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xingzhuang:before {
  content: "\e68a";
}

.icon-Word:before {
  content: "\edd5";
}

.icon-wenjianjiakai:before {
  content: "\e6a6";
}

.icon-Powerpoint:before {
  content: "\edd0";
}

.icon-Excel:before {
  content: "\edde";
}

.icon-fujian:before {
  content: "\e88a";
}

.icon-daochuword:before {
  content: "\e66b";
}

.icon-baohu:before {
  content: "\e602";
}

.icon-fenye:before {
  content: "\e690";
}

.icon-subscript2svg:before {
  content: "\e626";
}

.icon-superscriptsvg:before {
  content: "\e627";
}

.icon-pingmugongxiang:before {
  content: "\e746";
}

.icon-bianzu-06:before {
  content: "\e612";
}

.icon-shezhi:before {
  content: "\e68f";
}

.icon-xiexianbiaotou:before {
  content: "\e6fd";
}

.icon-daochuPDF:before {
  content: "\e610";
}

.icon-daochuExcel:before {
  content: "\e661";
}

.icon-8tupian-1:before {
  content: "\e66a";
}

.icon-saveas24:before {
  content: "\e7e4";
}

.icon-lishijilu:before {
  content: "\e64c";
}

.icon-peibishujuku:before {
  content: "\e658";
}

.icon-shangchuan-copy:before {
  content: "\e621";
}

.icon-_yulan:before {
  content: "\e625";
}

.icon-baocun2:before {
  content: "\e618";
}

