@font-face {
  font-family: "iconfont"; /* Project id 3688321 */
  src: url('iconfont.woff2?t=1747873251849') format('woff2'),
       url('iconfont.woff?t=1747873251849') format('woff'),
       url('iconfont.ttf?t=1747873251849') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hangliegaoliang:before {
  content: "\e624";
}

.icon-yonghuguanli:before {
  content: "\e64f";
}

.icon-zuhu:before {
  content: "\e650";
}

.icon-zuhuguanli:before {
  content: "\e651";
}

.icon-quanxian:before {
  content: "\e652";
}

.icon-daochu:before {
  content: "\e648";
}

.icon-a-Wordbaobiao:before {
  content: "\e649";
}

.icon-benyedaochu:before {
  content: "\e64a";
}

.icon-PPTbaobiao:before {
  content: "\e64b";
}

.icon-a-Excelxietongwendang:before {
  content: "\e64d";
}

.icon-a-Excelbaobiao:before {
  content: "\e64e";
}

.icon-xitongguanli:before {
  content: "\e63a";
}

.icon-xinjian:before {
  content: "\e63b";
}

.icon-jiaoseguanli:before {
  content: "\e63c";
}

.icon-daoru:before {
  content: "\e63d";
}

.icon-dingxiangdaochu:before {
  content: "\e63e";
}

.icon-shaixuan:before {
  content: "\e63f";
}

.icon-quancha:before {
  content: "\e640";
}

.icon-baobiaoguanli:before {
  content: "\e631";
}

.icon-baobiaochakan:before {
  content: "\e641";
}

.icon-shouye:before {
  content: "\e642";
}

.icon-dapingmobanguanli:before {
  content: "\e643";
}

.icon-bumenguanli:before {
  content: "\e644";
}

.icon-caidanguanli:before {
  content: "\e645";
}

.icon-quanbudaochu:before {
  content: "\e646";
}

.icon-qiehuanshanghu:before {
  content: "\e647";
}

.icon-shujuyuanguanli:before {
  content: "\e634";
}

.icon-yecha:before {
  content: "\e635";
}

.icon-shujuyuanguanli-1:before {
  content: "\e633";
}

.icon-shuaxin:before {
  content: "\e636";
}

.icon-gangweiguanli:before {
  content: "\e632";
}

.icon-dayin:before {
  content: "\e637";
}

.icon-zuidahua:before {
  content: "\e638";
}

.icon-zuixiaohua:before {
  content: "\e639";
}

.icon-xingzhuang:before {
  content: "\e68a";
}

.icon-Word:before {
  content: "\edd5";
}

.icon-wenjianjiakai:before {
  content: "\e6a6";
}

.icon-Powerpoint:before {
  content: "\edd0";
}

.icon-Excel:before {
  content: "\edde";
}

.icon-fujian:before {
  content: "\e88a";
}

.icon-daochuword:before {
  content: "\e66b";
}

.icon-baohu:before {
  content: "\e602";
}

.icon-fenye:before {
  content: "\e690";
}

.icon-subscript2svg:before {
  content: "\e626";
}

.icon-superscriptsvg:before {
  content: "\e627";
}

.icon-pingmugongxiang:before {
  content: "\e746";
}

.icon-bianzu-06:before {
  content: "\e612";
}

.icon-shezhi:before {
  content: "\e68f";
}

.icon-xiexianbiaotou:before {
  content: "\e6fd";
}

.icon-daochuPDF:before {
  content: "\e610";
}

.icon-daochuExcel:before {
  content: "\e661";
}

.icon-8tupian-1:before {
  content: "\e66a";
}

.icon-saveas24:before {
  content: "\e7e4";
}

.icon-lishijilu:before {
  content: "\e64c";
}

.icon-peibishujuku:before {
  content: "\e658";
}

.icon-shangchuan-copy:before {
  content: "\e621";
}

.icon-_yulan:before {
  content: "\e625";
}

.icon-baocun2:before {
  content: "\e618";
}

